<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="{{ "/css/main.css" | absolute_url }}">
		</head>
		<body>
			<nav>
	    		<ul id="menu">
	        		<li><a href="{{ "index.html" | absolute_url }}">Home</a></li>
		        	<li><a href="{{ "/topics/page1.html" | absolute_url }}">A</a></li>
	        		<li><a href="{{ "/topics/page2.html" | absolute_url }}">B</a></li>
				<li><a href="{{ "/topics/page3.html" | absolute_url }}">C</a></li>
				<li><a href="{{ "/topics/page4.html" | absolute_url }}">D</a></li>
	        		<li><a href="{{ "/topics/page5.html" | absolute_url }}">E</a></li>
				<li><a href="{{ "/topics/page6.html" | absolute_url }}">F</a></li>
				<li><a href="{{ "/topics/page7.html" | absolute_url }}">G</a></li>
	        		<li><a href="{{ "/topics/page8.html" | absolute_url }}">H</a></li>
				<li><a href="{{ "/topics/page9.html" | absolute_url }}">I</a></li>
				<li><a href="{{ "/topics/page10.html" | absolute_url }}">J</a></li>
	        		<li><a href="{{ "/topics/page11.html" | absolute_url }}">K</a></li>
				<li><a href="{{ "/topics/page12.html" | absolute_url }}">L</a></li>
				<li><a href="{{ "/topics/page13.html" | absolute_url }}">M</a></li>
	        		<li><a href="{{ "/topics/page14.html" | absolute_url }}">N</a></li>
				<li><a href="{{ "/topics/page15.html" | absolute_url }}">O</a></li>
				<li><a href="{{ "/topics/page16.html" | absolute_url }}">P</a></li>
	        		<li><a href="{{ "/topics/page17.html" | absolute_url }}">Q</a></li>
				<li><a href="{{ "/topics/page18.html" | absolute_url }}">R</a></li>
				<li><a href="{{ "/topics/page19.html" | absolute_url }}">S</a></li>
	        		<li><a href="{{ "/topics/page20.html" | absolute_url }}">T</a></li>
				<li><a href="{{ "/topics/page21.html" | absolute_url }}">U</a></li>
				<li><a href="{{ "/topics/page22.html" | absolute_url }}">V</a></li>
	        		<li><a href="{{ "/topics/page23.html" | absolute_url }}">W</a></li>
				<li><a href="{{ "/topics/page24.html" | absolute_url }}">X</a></li>
				<li><a href="{{ "/topics/page25.html" | absolute_url }}">Y</a></li>
				<li><a href="{{ "/topics/page26.html" | absolute_url }}">Z</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<p>
				{% assign url = "https://github.com/RavinderPanwar" %}
				<a href="{{ site.baseurl | prepend: url }}">Get the code</a>
				</p>
			</footer>
		</body>
	</html>
